{% extends "base.html" %} {% block content %}
<div class="container">
  {% if totalLength > 0 %}
  <div class="row">
    <div class="col-sm-12 mb-3">
      <h2>{{ totalLength }} {{ result }} for "{{ search }}"</h2>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-12">
        <div class="col-sm-12">
          <div class="card bg-secondary text-white mb-3 w-100">
            <div class="card-header">Countries</div>
            <div class="card-body">
              {% if countries|length > 0 %}
              <ul class="list-group">
                {% for country in countries %}
                <li class="list-group-item" style="color: black">
                  <a href="{{ url_for('country',id=country.country_code)}}"
                    >{{ country.country_code }} ---
                    {{ country.country_name }}</a
                  >
                </li>
                {%endfor %}
              </ul>
              {% else %}
              <div class="col-sm-12">
                <h5>No results found under "countries".</h5>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-12">
        <div class="col-sm-12">
          <div class="card text-white bg-success mb-3 w-100">
            <div class="card-header">Cities</div>
            <div class="card-body">
              {% if cities|length > 0 %}
              <ul class="list-group">
                {% for city in cities %}
                <li class="list-group-item" style="color: black">
                  <a href="{{ url_for('city',id=city.id)}}">{{
                    city.city_name
                  }}</a>
                </li>
                {%endfor %}
              </ul>
              {% else %}
              <div class="col-sm-12">
                <h5>No results found under "cities".</h5>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-12">
        <div class="col-sm-12">
          <div class="card text-white bg-warning mb-3 w-100">
            <div class="card-header">Languages</div>
            <div class="card-body">
              {% if languages|length > 0 %}
              <ul class="list-group">
                {% for language in languages %}
                <li class="list-group-item" style="color: black">
                  <a href="{{ url_for('language',id=language.id)}}">
                    {{ language.language }}
                  </a>
                </li>
                {%endfor %}
              </ul>
              {% else %}
              <div class="col-sm-12">
                <h5>No results found under "languages".</h5>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-sm-12 pb-3">
      <h2>Oops! No result found for "{{ search }}".</h2>
    </div>
    <div class="col-sm-12">
      <button class="btn btn-info" onclick="goBack()">Go Back</button>
    </div>
  </div>
  {% endif %}
</div>

<script>
  function goBack() {
    window.history.back();
  }
</script>
{% endblock %}
